<div class="overcell-content" 
cdkDrag 
cdkDragBoundary=".cell-container" 
cdkDragHandle
cdkDragRootElement="app-timesheet-overcell" 
(cdkDragStarted)="overCellDragStarted()"
(cdkDragEnded)="overCellDragEnded()" 
cdkDragLockAxis="x"
[ngClass]="{ 'dragged': dragged}">

    <div class="overcell-left-resizer-container">
        <!-- this item is not displayer  -->
        <span class="left-resizer" cdkDrag (cdkDragStarted)="dragStarted(true)" (cdkDragEnded)="dragEnded($event)"
            (cdkDragMoved)="dragMoved($event)" cdkDragBoundary=".cell-container"></span>

        <!-- this item is the resize pointer designer  -->
        <span class="left-resizer-item"></span>
    </div>

    <div class="overcell-content">
        <ng-template *ngIf="timesheetData != null" [ngTemplateOutlet]="timesheetData!.template"
            [ngTemplateOutletContext]="{$implicit : { 'row' : row, 'first': firstCell?.cellInfo, 'last': lastCell?.cellInfo } }">
        </ng-template>
    </div>

    <div class="overcell-right-resizer-container">
        <!-- this item is not displayer  -->
        <span class="right-resizer" cdkDrag (cdkDragStarted)="dragStarted(false)" (cdkDragEnded)="dragEnded($event)"
            (cdkDragMoved)="dragMoved($event)" cdkDragBoundary=".cell-container"></span>

        <!-- this item is the resize pointer designer  -->
        <span class="right-resizer-item"></span>
    </div>
</div>